body {
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  font-family: Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  color:white;
}

.card {
  background:#111;
  padding:30px;
  border-radius:12px;
  width:350px;
  box-shadow:0 0 40px rgba(0,0,0,.7);
}

input {
  width:100%;
  padding:10px;
  margin:8px 0;
  border:none;
  border-radius:6px;
}

button {
  width:100%;
  padding:12px;
  border:none;
  border-radius:6px;
  background:#00c6ff;
  color:black;
  font-weight:bold;
  cursor:pointer;
}

.user {
  background:#222;
  padding:10px;
  margin:10px 0;
  border-radius:8px;
}
